<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>  {{name}}</dd>

  <td>Edad:</td>
  <dd>  {{age}}</dd>

  <td>Método:</td>
  <dd>  {{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>  {{capitalizedName}}</dd>
</dl>

<button
  *ngIf="name !== 'spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>
<!-- DENTRO DE FUNCINOES O DIRECTIVAS NO HACE FALTA UTLIZAR {{}} PQ YA SE ENTIENDE COMO CODIGOD DE JS -->
<button
  *ngIf="age !== 18"
  (click)="changeEdad(18)"
  class="btn btn-primary">
  Cambiar edad
</button>
<button
  (click)="resetDatos()"
  class="btn btn-primary mx-2">
  RESET
</button>
